# gitignore
.gitignore

# vscode
.vscode/

# env
.env

# credentials
api/middleware/credentials.json

# firebase
aichatapp-410621-firebase-adminsdk-dj7pk-3942f5bbda.json:Zone.Identifier

# debug 
__debug_bin*